@charset "ISO-8859-1";
html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}
.menuLateral {
	height: 100%;
	background-color: #353535;
	padding-top: 5%;
grid-area: menu;
text-align: center;
}

.menuLateral  li {
	text-align: center;
	list-style: none;
	width: 95%;
	margin-top: 5px;
	padding: 5%;
	border-radius: 50px;
	border: solid #4d4d4d 1px;
	color: #8080c0;
	
}



 li:hover{
	display:block;
	background-color: #808080;
	color: #444488;
}

.grid {
	height: 100%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 20% 80%;
	grid-template-areas: "head head " "menu contenido";
}

.navbar {
	grid-area: head;
}



.contenidoCentro {
	grid-area: contenido;
}